.App {
  font-family: sans-serif;
  text-align: center;
  color: white;
}
body {
  background-image: url("cinema.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.genres {
  cursor: pointer;
  background-color: rgba(229, 231, 235, 0.6);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  margin: 1rem 0.5rem;
  font-weight: bold;
}

.movie-container {
  margin: auto;
  width: 100%;
  margin-left: 7%;
}

.movie-list {
  list-style: none;
  color: black;
  padding: 1rem;
  border: 1px solid rgba(229, 231, 235, 0.7);
  width: 80%;
  margin: 1rem 0.5rem;
  border-radius: 0.5rem;
}
